header{
    background-color: aqua;
    text-align: center;
    font-size: 1.4vw;
    padding: 10px;
}

.cartao__conteudo{
    padding: 20px;
    border: 1px solid blue;
    border-radius: 2px;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin: 20px 10px;
}

