body{
    background-color: rgb(196, 148, 241);
}


header{
    background-color: rgb(122, 72, 187);
    text-align: center;
    font-size: 1.4vw;
    padding: 10px;
}

.cartao__conteudo{
    padding: 20px;
    border: 1px solid blue;
    border-radius: 2px;
    box-shadow: 0 4px 6px rgb(89, 0, 255);
    background-color: rgb(255, 255, 255);
    margin: 20px 10px;
}

.cartao__conteudo:hover{
    transform: scale(1.009);
}

.cartao__conteudo_resposta{
    display: none;
    text-align: center;
    padding: 20px;
    background-color: rgb(155, 85, 221);
}
