header{
    background-color: aqua;
    text-align: center;
    font-size: 1.4vw;
    padding: 10px;
}

.cartao__conteudo{
    padding: 20px;
    border: 1px solid blue;
    border-radius: 2px;
    box-shawdow: 0 4px 6px white;
    background-color: black;
    margin: 20px 10px;
}

